<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <i class="bi bi-wallet" style="margin: 0 1%"> </i>
      <a class="navbar-brand" href="/">Bharat Bank</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="cUser.ejs">Create User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="tmoney.ejs">Transfer Money</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="thistory.ejs"> Transaction History </a>
          </li>
        </ul>
        <a
          href="https://www.github.com/singh-prayag"
          style="margin: 0 1%"
          target="_blank"
        >
          <i class="bi bi-github" style="font-size: 2.25rem; color: black"></i
        ></a>
        <a
          href="https://www.twitter.com/"
          style="margin: 0 1%"
          target="_blank"
          ><i
            class="bi bi-twitter"
            style="font-size: 2.25rem; color: #1da1f2"
          ></i
        ></a>
        <a
          href="https://www.linkedin.com/in/er-prayagsingh"
          style="margin: 0 1%"
          target="_blank"
          ><i
            class="bi bi-linkedin"
            style="font-size: 2.25rem; color: #4267b2"
          ></i
        ></a>
      </div>
    </div>
  </nav>
