.table {
    border-collapse: collapse;
    margin: 0 auto 10%;
    font-size: 0.9em;
    width: 70%;
    text-align: left;
    border-radius:10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgb(0 0 0 / 15%);
}
.table thead tr{
    background: whitesmoke;
    font-weight: bold;
}
tr{
    background-color: white;
}
.table th,.table td{
    padding: 12px 15px;
}

.table tbody tr{
    border-bottom: 1px solid #dddddd;
}

